<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Poor Chefs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Conway Hogan, Elliot Pi, Jaden Gatherum, Tiffany Hansen
  * SECTION 002 
  * GROUP 15 
  * This is the homepage of our recipe website
  ======================================================== -->
</head>

<body>
  <% if (messages.error) { %>
      <%= messages.error %>
      <% } %>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Poor Chefs</h1>
        </a>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allrecipes">All Recipes</a></li>
            <% if (isAuthenticated) { %>
            <li><a href="/myrecipes">My Recipes</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/Login">Login</a></li>
            <% } %>
          </ul>
        </nav><!-- .navbar -->
  
        <div class="position-relative">
          <!-- <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
          <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
          <a href="#" class="mx-2"><span class="bi-instagram"></span></a> -->
          <a class="mx-2 js-search-open"><span></span></a>
  
          <i class="bi bi-list mobile-nav-toggle"></i>
  
          <!-- ======= Search Form ======= -->
          <div class="search-form-wrap js-search-form-wrap">
            <form action="search-result.html" class="search-form">
              <!-- <span class="icon bi-search"></span> -->
              <!-- <input type="text" placeholder="Search" class="form-control"> -->
              <button class="btn js-search-close"><span></span></button>
            </form>
          </div><!-- End Search Form -->
  
        </div>
  
      </div>
  
    </header><!-- End Header -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider1pic.jpg');">
                    <div class="img-bg-inner">
                      <h2>Be inspired by other college students and their recipes</h2>
                      <p>Don't know what to cook? Poor Chefs has your back! Find easy meals that other college students would recommend!</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider2pic.jpg');">
                    <div class="img-bg-inner">
                      <h2>Share your ideas for cheap meals</h2>
                      <p>Students' best recipes for college. We know the college lifestyle, so learn other life hacks from others!</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a class="img-bg d-flex align-items-end" style="background-image: url('assets/img/slider3pic.jpg');">
                    <div class="img-bg-inner">
                      <h2>Connect with others who are trying to keep their meals exciting</h2>
                      <p>Only have a few ingredients? Let's get gourmet by seeing what other students are eating! It's a campus potluck.</p>
                    </div>
                  </a>
                </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Our Community Cookbook</h2>
          <!-- <div><a href="category.html" class="more">See All Culture</a></div> -->
        </div>

        <div class="row">
          <div class="col-md-9">

            <div class="d-lg-flex post-entry-2">
              <a class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Dessert</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a>Cookie Bar Craving</a></h3>
                <p>Don't have the tools to make perfectly circular cookies? Get a pan and some dough, and you've got cookie bars! They'll satisfy any cookie craving while being convenient and easily cut to share with your friends.</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/post-sq-1.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Jenny John</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a></a><img src="assets/img/post-landscape-2.jpeg" alt="" class="img-fluid">
                  <div class="post-meta"><span class="date">Breakfast</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a>Vanilla-Berry Overnight Oatmeal</a></h2>
                  <span class="author mb-3 d-block">Jenny John</span>
                  <p class="mb-4 d-block">This is a quick prepare-before-bed kind of breakfast. Dump the ingredients in and pop it out in the morning for a on-the-go meal. Easy to customize with your own berries, nuts, and flavors.</p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">Lunch</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a>Chicken Sliders</a></h2>
                  <span class="author mb-3 d-block">Don Armstrong</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a><img src="assets/img/post-landscape-6.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Dinner</span> <span class="mx-1">&bullet;</span> <span>Jul 10th '23</span></div>
                  <h2 class="mb-2"><a>NOT a Date Night Disappointment</a></h2>
                  <span class="author mb-3 d-block">Sally Lu</span>
                  <p class="mb-4 d-block">Got a dinner date night? Why not make it at home?! We've got a foolproof recipe that will surely impress any date. How about a creamy pasta with garlic bread? Sounds amazing, right? We’ll show you how in this easy and delicious recipe. Trust us, your date will love it.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Breakfast</span> <span class="mx-1">&bullet;</span> <span>Apr 5th '23</span></div>
              <h2 class="mb-2"><a>Leftover Breakfast Wrap</a></h2>
              <span class="author mb-3 d-block">Elmer Miles</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Dinner</span> <span class="mx-1">&bullet;</span> <span>Jun 24th '22</span></div>
              <h2 class="mb-2"><a>Good Ol' Spaghetti</a></h2>
              <span class="author mb-3 d-block">Sally Lu</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Lunch</span> <span class="mx-1">&bullet;</span> <span>Mar 6th '22</span></div>
              <h2 class="mb-2"><a>PVR - Protein, Veggie, Rice</a></h2>
              <span class="author mb-3 d-block">Don Armstrong</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Breakfast</span> <span class="mx-1">&bullet;</span> <span>Oct 13th '23</span></div>
              <h2 class="mb-2"><a>Cereal With a Twist</a></h2>
              <span class="author mb-3 d-block">Jacqueline Watson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Lunch</span> <span class="mx-1">&bullet;</span> <span>Dec 25th '22</span></div>
              <h2 class="mb-2"><a>Best Grilled Cheese</a></h2>
              <span class="author mb-3 d-block">Elmer Miles</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Dessert</span> <span class="mx-1">&bullet;</span> <span>May 4th '23</span></div>
              <h2 class="mb-2"><a>No Bake Peanut Butter Cookies</a></h2>
              <span class="author mb-3 d-block">Jacqueline Watson</span>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Culture Category Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About Poor Chefs</h3>
            <p>Who are we? We're the poor chefs in the college towns around the country. We don't have the money or time to think about what to eat every day, but together, we will have that time. We're all about helping college students find a platform for easy recipes that they can make on the go or late at night. Share your favorite dorm room recipes and let others in on the yumminess. Happy cooking!</p>
            <!-- <p><a href="about.html" class="footer-link-more">Learn More</a></p> -->
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="/"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="/allrecipes"><i class="bi bi-chevron-right"></i>All Recipes</a></li>
            <% if (isAuthenticated) { %>
              <li><a href="/myRecipes"><i class="bi bi-chevron-right"></i>My Recipes</a></li>
              <li><a href="/logout"><i class="bi bi-chevron-right"></i>Logout</a></li>
              <% } else { %>
              <li><a href="/register"><i class="bi bi-chevron-right"></i>Register</a></li>
              <li><a href="/login"><i class="bi bi-chevron-right"></i> Log In</a></li>
              <% } %>
            </ul>
          </div>

          </div>
        </div>
      </div>


    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Poor Chefs</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              Designed by <a href="https://bootstrapmade.com/">Group 15</a>
            </div>

          </div>

          <!-- <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div> -->

          </div>

        </div>

      </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</main>
</body>

</html>
